:root {
  --heading-font: "UnifrakturMaguntia", cursive;
  --primary-font: "Libre Baskerville", serif;
  --primary-font-color: #352f44;
  --light-font-color: #f0eff2;
  --mid-color: #5c5470;
  --light-color: #dbd8e3;
  --accent-light-color: #ffe1d3;
  --accent-dark-color: #dc7646;
}
body {
  background: #352f44;
  font-family: var(--primary-font);
}
header {
  background-image: linear-gradient(
      rgba(53, 47, 68, 0.7),
      rgba(53, 47, 68, 0.7)
    ),
    url("../images/edinburgh-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px 100px 130px;
}
header h1 {
  font-family: var(--heading-font);
  font-size: 96px;
  line-height: 1.2;
  text-align: center;
  color: var(--light-font-color);
}
header h2,
header h3 {
  text-align: center;
  color: var(--light-font-color);
}
header h3 {
  text-transform: uppercase;
}
header h3 i {
  font-size: 12px;
}
header .hero-btn {
  letter-spacing: 1px;
  text-align: center;
  color: var(--light-font-color);
  background: var(--mid-color);
  display: block;
  margin: 80px auto;
  max-width: 150px;
  padding: 15px;
  border-radius: 10px;
  transition: all 200ms ease;
}
header .hero-btn:hover {
  color: var(--light-font-color);
  background: var(--accent-dark-color);
}
main {
  background: var(--light-color);
}
section {
  padding: 100px;
  margin: 0;
}
main h2,
main h3,
main p {
  color: var(--primary-font-color);
}
main h2 {
  text-transform: uppercase;
  font-size: 16px;
  opacity: 0.5;
}
main h3 {
  font-size: 40px;
  line-height: 1;
}
main p {
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.8;
  padding: 15px 0;
}
main a {
  color: var(--accent-dark-color);
  text-decoration: none;
  opacity: 0.8;
  transition: all 200ms ease;
}
main a:hover {
  opacity: 1;
}
main .grid-2-columns {
  grid-template-columns: 1fr 1fr;
  padding-bottom: 36px;
}
main .grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 36px;
}
main .secondary-section {
  background: var(--mid-color);
}
main .secondary-section h2,
main .secondary-section h3 {
  color: var(--light-font-color);
  text-align: center;
}
main .card h4 {
  font-size: 30px;
  line-height: 1.5;
}
main .card-header.grid {
  grid-gap: 0;
  padding: 5px;
}
main .card img {
  border-radius: 5px 0 0 5px;
}
main .embed {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0 5px 5px 0;
}
main .card-btn {
  background: var(--mid-color);
  color: var(--light-font-color);
  display: block;
  transition: all 200ms ease;
}
main .card-btn:hover {
  background: var(--accent-dark-color);
  color: var(--light-font-color);
}
footer {
  background-image: linear-gradient(
      rgba(53, 47, 68, 0.9),
      rgba(53, 47, 68, 0.9)
    ),
    url("../images/edinburgh-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--light-font-color);
}
footer h3,
footer p {
  opacity: 0.8;
}
footer h3 {
  font-size: 20px;
}
footer p,
footer li {
  font-size: 16px;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  opacity: 0.8;
  transition: all 200ms ease;
}
footer a {
  color: var(--accent-light-color);
  text-decoration: none;
  opacity: 0.7;
  transition: all 200ms ease;
}
footer li:hover,
footer p a:hover {
  opacity: 1;
}
footer .footer-grid {
  grid-template-columns: 1fr 2fr 2fr;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
@media (max-width: 400px) {
  header h1 {
    font-size: 64px !important;
  }
}
@media (max-width: 576px) {
  header {
    padding: 60px 30px !important;
  }
}
@media (max-width: 992px) {
  header {
    padding: 150px 30px 100px 30px;
  }
  section {
    padding: 60px 30px;
  }
  header h1 {
    font-size: 78px;
    line-height: 1;
    padding: 10px 0;
  }
  header h2 {
    font-size: 20px;
  }
  header .hero-btn {
    margin: 40px auto;
  }
  main .grid,
  footer .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  main .grid-2-columns {
    padding-top: 0;
  }
  main .image-lg-viewport {
    max-width: 500px;
    margin: 0 auto;
  }
  main .embed {
    aspect-ratio: 16/9;
    border-radius: 5px;
  }
}
